<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction-to-join-and-merge-with-the-pandas-package" data-toc-modified-id="Introduction-to-join-and-merge-with-the-pandas-package-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to join and merge with the pandas package</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#This-tutorial-is-copied-from:" data-toc-modified-id="This-tutorial-is-copied-from:-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>This tutorial is copied from:</a></span></li><li><span><a href="#Additionnal-information-can-be-found-at:" data-toc-modified-id="Additionnal-information-can-be-found-at:-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Additionnal information can be found at:</a></span></li><li><span><a href="#Purpose" data-toc-modified-id="Purpose-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Purpose</a></span></li></ul></li><li><span><a href="#Import" data-toc-modified-id="Import-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import</a></span></li><li><span><a href="#Create-dummy-dataframe" data-toc-modified-id="Create-dummy-dataframe-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Create dummy dataframe</a></span><ul class="toc-item"><li><span><a href="#Create-a-first-dummy-dataframe-df_a" data-toc-modified-id="Create-a-first-dummy-dataframe-df_a-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Create a first dummy dataframe <code>df_a</code></a></span></li><li><span><a href="#Create-a-second-dummy-dataframe-df_b" data-toc-modified-id="Create-a-second-dummy-dataframe-df_b-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Create a second dummy dataframe <code>df_b</code></a></span></li><li><span><a href="#Create-a-third-dummy-dataframe-df_n" data-toc-modified-id="Create-a-third-dummy-dataframe-df_n-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Create a third dummy dataframe <code>df_n</code></a></span></li></ul></li><li><span><a href="#Join" data-toc-modified-id="Join-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Join</a></span><ul class="toc-item"><li><span><a href="#Join-df_a-and-df_b-along-raws" data-toc-modified-id="Join-df_a-and-df_b-along-raws-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Join <code>df_a</code> and <code>df_b</code> along raws</a></span></li><li><span><a href="#Join-df_a-and-df_b-along-columns" data-toc-modified-id="Join-df_a-and-df_b-along-columns-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Join <code>df_a</code> and <code>df_b</code> along columns</a></span></li></ul></li><li><span><a href="#Merge" data-toc-modified-id="Merge-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Merge</a></span><ul class="toc-item"><li><span><a href="#Merge-dataframes-df_new,-df_n-using-the-subject_id-column" data-toc-modified-id="Merge-dataframes-df_new,-df_n-using-the-subject_id-column-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Merge dataframes <code>df_new</code>, <code>df_n</code> using the subject_id column</a></span></li><li><span><a href="#Merge-two-dataframes-with-the-left-on-subject_id-and-the-right-on-subject_id" data-toc-modified-id="Merge-two-dataframes-with-the-left-on-subject_id-and-the-right-on-subject_id-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Merge two dataframes with the left on subject_id and the right on subject_id</a></span></li><li><span><a href="#Merge-with-outer-join" data-toc-modified-id="Merge-with-outer-join-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Merge with outer join</a></span></li><li><span><a href="#Merge-with-inner-join" data-toc-modified-id="Merge-with-inner-join-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Merge with inner join</a></span></li><li><span><a href="#Merge-with-right-join" data-toc-modified-id="Merge-with-right-join-1.4.5"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>Merge with right join</a></span></li><li><span><a href="#Merge-with-left-join" data-toc-modified-id="Merge-with-left-join-1.4.6"><span class="toc-item-num">1.4.6&nbsp;&nbsp;</span>Merge with left join</a></span></li><li><span><a href="#Merge-while-adding-a-suffix-to-duplicate-column-names" data-toc-modified-id="Merge-while-adding-a-suffix-to-duplicate-column-names-1.4.7"><span class="toc-item-num">1.4.7&nbsp;&nbsp;</span>Merge while adding a suffix to duplicate column names</a></span></li><li><span><a href="#Merge-based-on-indexes" data-toc-modified-id="Merge-based-on-indexes-1.4.8"><span class="toc-item-num">1.4.8&nbsp;&nbsp;</span>Merge based on indexes</a></span></li></ul></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exercise</a></span><ul class="toc-item"><li><span><a href="#Warning" data-toc-modified-id="Warning-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Warning</a></span></li><li><span><a href="#Hint" data-toc-modified-id="Hint-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Hint</a></span></li></ul></li></ul></div>

# Introduction to join and merge with the pandas package

### This tutorial is copied from:

1. https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

### Additionnal information can be found at:

1. https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/
2. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

### Purpose

This tutorial will show how to use functionalities of the `pandas` package to merge and join table 

***

## Import

The pandas package must be installed on your machine in order to use it.

More information on the `pandas` package can be found:

http://pandas.pydata.org/pandas-docs/stable/getting_started/index.html

The `pandas` community is really active on stackoverflow:

https://stackoverflow.com/

Many of you question are probably answered on this website.

***

To import the `pandas` package, execute:

In [ ]:
import pandas as pd

## Create dummy dataframe

### Create a first dummy dataframe `df_a`
`df_a` has three columns (subject_id, first_name, last_name) corresponding to the ID of a client

In [ ]:
raw_data = {
        'subject_id': [1, 2, 3, 4, 5],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_a

### Create a second dummy dataframe `df_b`
`df_b` has the same column as `df_a` but with other clients

In [ ]:
raw_data = {
        'subject_id': [4, 5, 6, 7, 8],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df_b = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_b

### Create a third dummy dataframe `df_n`
`df_n` has two columns (subject_id, test_id). 

The column subject_id is common to `df_a`, `df_b` and `df_n`

In [ ]:
raw_data = {
        'subject_id': [1, 2, 3, 4, 5, 7, 8, 9, 10, 11],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
df_n = pd.DataFrame(raw_data, columns = ['subject_id','test_id'])
df_n

## Join

### Join `df_a` and `df_b` along raws

In [ ]:
df_new = pd.concat([df_a, df_b])
df_new

### Join `df_a` and `df_b` along columns

In [ ]:
pd.concat([df_a, df_b], axis=1)

## Merge

### Merge dataframes `df_new`, `df_n` using the subject_id column

In [ ]:
pd.merge(df_new, df_n, on='subject_id')

### Merge two dataframes with the left on subject_id and the right on subject_id

In [ ]:
pd.merge(df_new, df_n, left_on='subject_id', right_on='test_id')

### Merge with outer join

"Full outer join produces the set of all records in Table A and Table B,
with matching records from both sides where available. 
If there is no match, the missing side will contain null."

SQL Reference:

https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='outer')

### Merge with inner join

"Inner join produces only the set of records that match in both Table A and Table B.

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='inner')

### Merge with right join

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='right')

### Merge with left join

"Left outer join produces a complete set of records from Table A, 
with the matching records (where available) in Table B. 
If there is no match, the right side will contain null."

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left')

The `_x` and `_y` suffix are sometimes not wanted, the next option helps handles those suffix more clearly.

### Merge while adding a suffix to duplicate column names

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left', suffixes=('_left', '_right'))

### Merge based on indexes

In [ ]:
pd.merge(df_a, df_b, right_index=True, left_index=True)

---

# Exercise

Merge the datasets :

1. car_2017_encoding_latin-1.csv
2. car_2018.csv
3. claim_2017.csv 
4. claim_2018_delimiter_semicol.csv
5. client_2017.csv
6. client_2018.csv

You should form one dataset will all the information on the accounts with `ID` as merging column.

At each step check the name of the columns and the number of line of the dataframe.

## Warning

1. The standard encoding for csv files is `utf-8`, but many database in western Europe use latin-1 encoding.
The file `car_2017_format_latin-1.csv` is encoded in the latin-1 format. It must be converted when read.

2. The standard delimiter for a csv file in the coma `,`. 
The file `claim_2018_delimiter_semicol.csv` has a semicolumn delimiter `;`. It must be converted when read.


NB: CSV stands for 'coma separater values'

## Hint

You can use the pandas functions:
1. read_csv:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

Make sure that you understand the `delimiter` and `encoding` option.

2. shape:
https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.shape.html
3. columns:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html
4. size:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.size.html